    * {
        box-sizing: border-box;
    }

    html,
    body {
        padding: 0;
        margin: 0;
    }

    nav {
        background: #000;
    }

    nav>ul {
        float: right;
    }

    nav li {
        float: left;
        list-style-type: none;
        width: 150px;
        height: 50px;
    }

header{
    background-image: url(https://unsplash.it/1000/200);
    background-size:cover;
    text-align:center;
    clear:both;
    color:white;
}

    .container,
    .container-fluid {
        padding:10px;
        margin: 0 auto;
        overflow: auto;
    }

    .container {
        width: 1000px;
    }

    .container-fluid {
        width: 100%;
    }

    .about,
    .project, {
        padding: 10px;
        float: left;
    }

    .about img,
    .project img {
        width: 100%;
    }

    .about,
    .project{
        float: left;
        width: calc(100% / 2);
    }



    .clearfix {
        clear: both;
    }

    
    .project img {
    width: 450px;
    height: 250px;
    border-radius: 50%;
    }

    a.changepage-btn {
    background-color: #AED6F1;
    text-decoration: none;
    text-align: center;
    max-width: 400px;
    padding: 20px 20px;
    display: block;
    margin: 0 auto;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    width: 400px;
    height: 250px;
    border-radius: 80%;
    }



a.changepage-btn:hover {
  background-color: #D2B4DE ;
}
 
/*
    @media screen and ( max-width:700px) {
        .container {
            width: 100%;
        }
        .content {
            width: 100%;
        }
        aside {
            width: 100%;
        }
        .box {
            width: calc(100%);
        }
    }
*/
    	@media screen and (max-width: 1680px) {
	    .changepage-btn {
			width: 100%;
		}

	}

	@media screen and (max-width: 1280px) {
		.changepage-btn {
			width: 100%;
		}

	}

	@media screen and (max-width: 980px) {
		.changepage-btn {
			width: 100%;
		}

	}

	@media screen and (max-width: 736px) {
		.changepage-btn {
			width: 100%;
		}

	}

	@media screen and (max-width: 480px) {
		.changepage-btn {
			width: 100% !important;
		}

	}